<div class="container">
	<div class ="page-header">
		Welcome to rgb.io
		<div class="lead">
			Create a portfolio website, using just your Flickr account.
			<br />
			Try it out!
			<p><%= link_to "Login through flickr", "/auth/flickr" %></p>
		</div>	
	</div>


</div>	

