<div class="container">
	<div class ="page-header">
		<div class="lead">
			Create a portfolio website, using just your Flickr account
			<br />

			<% if current_user.nil? %>
			Try it out! <br />
			<%= link_to "Sign up with Flickr", signin_url, :class => ".btn-large" %>
			<% else %>
			Welcome Back <%= current_user.name %>! <br />
			<%= link_to "Back to your page", root_url(subdomain: current_user.urlname) %> <br />
			<% end %>
			<br />

		</div>
	</div>

	<!--<div class="trigger"><a onclick="return false" href="#"><h2>How does it work?</h2></a></div>
	<div class="expander">
		<h1>Step 1:</h1>
			<ul><li><h3>Create a <strong><a href="http://flickr.com" target="_blank">Flickr</a></strong> account if you haven't already</h3></li>
					<li><h3>Make an album of photos</h3></li>
					<li></li>


			</ul>







	</div> -->
	<a href = "http://pat.rgb.io"> Check out a sample page </a> <br /> <br />
	Current users:
	<% @allusers.each do |u| %>
	<%= link_to u.urlname, "http://" << u.urlname << ".rgb.io"%>
	<% end %>
</div>

