<style type="text/css">

* {
    margin:0;
    padding:0;
}
body {
    background:#141414;
    position:relative;
    overflow:auto;
}
h1 {
    position:fixed;
    height:60px;
    width:100%;
    line-height:60px;
    font-size:1.75em;
    text-align:center; 
    color:#FFF;
}

#wrapper {
    float:left;
    margin:80px 20px 20px;
    margin-right:-999em;
    position:relative;
}
.floatbox {
    float:left; 
    margin:0 20px 0 0;
}
.floatbox img {float:left;}

.caption {
    float:left; 
    width:150px;
    margin:0 0 0 20px;
    padding:10px;  
    background:#333;
    color:#FFF;
}
</style>
</head>
<body>
<div id="wrapper"> 
	<% @photos.each do |photo| %>
	    <div class="floatbox"> 
	        <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
	    </div>
    <% end %>
</div>

</body>
</html>




