<style type="text/css">
/*
* {
    margin:0;
    padding:0;
}
body {
    background:#141414;
    position:relative;
    overflow:auto;
}
h1 {
    position:fixed;
    height:60px;
    width:100%;
    line-height:60px;
    font-size:1.75em;
    text-align:center; 
    color:#FFF;
}
*/
#wrapper {
    float:left;
    margin:80px 20px 20px;
    left: 300px;
    margin-right:-99999em;
    position:relative;
    z-index: 1;
}
.floatbox {
    float:left; 
    margin:0 20px 0 0;
}
.floatbox img {float:left;}

.caption {
    float:left;
    width:150px;
    margin:0 0 0 20px;
    padding:10px;
    background:#000;
    color:#FFF;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
    z-index: 2;
    background: white;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

</style>
</head>
<body>

  <div class="row">
    <div class="span2">
        <div class="sidebar-nav sidebar-nav-fixed">
            orem ipsum dolor sit amet, consectetur adipiscing elit. Donec non magna et ligula ullamcorper egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris lacinia ipsum feugiat sem rutrum in viverra urna iaculis. Nullam ornare interdum metus, vitae imperdiet neque hendrerit eu. Cras in enim risus, nec lobortis ante. Suspendisse ut libero sit amet tellus placerat egestas a quis ante. Fusce ornare, est id luctus gravida, dui sem aliquet magna, vel pretium lacus ipsum eu velit. Proin sed risus dui. Phasellus tempus adipiscing sapien, et semper dui accumsan sit amet. Integer ac tellus eget quam egestas volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Morbi faucibus mollis lorem, sed tincidunt tortor condimentum a. Mauris nec elit massa, luctus dapibus nunc. Phasellus mollis fringilla diam, a porta lorem tincidunt ac. Morbi quis nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nisi vel libero tincidunt accumsan id quis enim. Mauris dictum iaculis turpis, sit amet facilisis lacus posuere a. Vestibulum ac eros porta metus mattis placerat. Sed aliquam viverra laoreet. Fusce enim eros, eleifend a iaculis quis, volutpat at libero. Morbi tortor neque, ultricies vel volutpat eu, iaculis ac massa. Suspendisse potenti.

        </div>
    </div>
    <div class="span10">
      <div id="wrapper">
        <% @photos.each do |photo| %>
            <div class="floatbox"> 
              <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
            </div>
         <% end %>
        </div>
    </div>
  </div>



</body>
</html>




