@import "bootstrap";

body{
  //overflow-y:hidden;
  //overflow-x:hidden;
}

.user-controls {
  
    bottom:0;
    width: 210px;
    padding-bottom: 15px;
    z-index: 999;
    background-color: rgba(255,255,255,1.0);
}

.sidebar-nav-fixed {
    position:static;
    float:left;
    //overflow-y:auto;
    height:100%;
    //margin-right:200px;
    width:200px;
    z-index: 2;
    background-color: rgba(255,255,255,1.0);
}
.nav{
   padding-top: 15px;
   margin-bottom: 90px;

}
.gallery{
  position:static;
  overflow-x: scroll;
  height: 100%;
  z-index: 1;
  white-space: nowrap;

  img{
    position:static;
    height: 100%;
    border-right:5px solid #FFF;
  }
}

.clearfix {
  clear: both;
}
